# Python Programming for Machine learning

## Code In AI - Python programming basic

### Markdown

Convert the following cell to markdown and run

# Hello World
1. Code
```
print("Hello World!")
```

### Variables in Cells

Variables in the Python notebooks are carried over through the notebook
Type the following codes into separate cells and run them one by one, from top to bottom.

### Multiple Assignment

A single value can be assigned to many variables at the same time

In [1]:
a = b = c = 1

In [2]:
print(a,b,c)

1 1 1

Multiple values can be assigned to multiple objects. 
Several statments can be put in the same line by ending each statement with semicolon.

In [3]:
a,b,c = 1,2,"xyz"; print(a,b,c)

1 2 xyz

Objects can be deleted using del.
The execution will stop when the first error is encountered.

In [4]:
del a, b
print(a, b)

NameError: name 'a' is not defined

## Basic python data types (objects)

### Numbers
Python supports four types of numbers -- (long) int, float, complex

Number without floating point digits are treated as integers while those
with floating point digits are treated as float.

In [7]:
x = 2 # no . type is int 
print('Type of x is ', type(x))
print(2**123)

Type of x is  <class 'int'>
10633823966279326983230456482242756608

In [10]:
x = 10. # 
print('Type of x is ', type(x))
print(x**123)

Type of x is  <class 'float'>
1e+123

### Strings

String is a contiguous set of characters represented in the quotation marks.

In [24]:
str1 = 'Hello world with single quote...'
str2 = "Hello world with double quote..."
print(str1); print(str2)

Hello world with single quote...
Hello world with double quote...

Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [25]:
print(str1[0]) # print first character

H

In [26]:
print(str1[2:5]) # print characters at indices 2,3,4

llo

In [27]:
print(str1[2:]) # print characters at from indices 2

llo world with single quote...

In [28]:
print(str1[:-2]) # print characters at starting indices 2 from the end.

Hello world with single quote.

In [29]:
print(str1*3) # Repeat the string three times

Hello world with single quote...Hello world with single quote...Hello world with single quote...

In [30]:
print(str1+" New hello !" + " xxx ") # Concatenate many strings

Hello world with single quote... New hello ! xxx

### List

A list contains elements separated by commas and enclosed within square brackets ([]). 
Items belonging to a list can be of different data type.
The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indices 
starting at 0 in the beginning of the list and working their way to end -1. 

Declare a list

In [39]:
l1 = ['abcd', 786, 2.23, 'xyz']; print(l1)
l2 = [123, 'john']; print(l2)

['abcd', 786, 2.23, 'xyz']
[123, 'john']

In [40]:
print(len(l1), len(l2)); # List size is obtained by using len()

4 2

In [41]:
print(l1[0]) # print the 1st element in list 1

abcd

In [42]:
print(l1[1:3]) # print the 2nd to 3th elements

[786, 2.23]

In [44]:
print(l1[2:]) # print elements starting from the 3rd

[2.23, 'xyz']

In [45]:
l1[3] = 'www';  # Modified the value of the 4th element
print(l1)

['abcd', 786, 2.23, 'www']

In [46]:
print(l2*2)  # Repeat the list twice

[123, 'john', 123, 'john']

In [47]:
print(l1+l2) # Concatenate two lists

['abcd', 786, 2.23, 'www', 123, 'john']

### Tuple

A tuple is another sequence data type that is similar to the list. 
A tuple consists of a number of values separated by commas. 
Unlike lists, however, tuples are read-only lists. 
So, it can't be modified.

In [48]:
t1 = ('abcd', 786, 2.23, 'xyz'); print(t1)
t2 = (123, 'john'); print(t2)

('abcd', 786, 2.23, 'xyz')
(123, 'john')

All operations in lists are applicable to tuples except the value modification.

In [49]:
print(len(t1), len(t2))
print(t1[0]) 
print(t1[1:3])
print(t1[2:]) 
print(t2*2) 
print(t1+t2)

4 2
abcd
(786, 2.23)
(2.23, 'xyz')
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'xyz', 123, 'john')

### Dictionaries

Python's dictionaries are kind of hash table type.
They work like associative arrays or hashes found in Perl and consist of key-value pairs. 
A dictionary key can be almost any Python type, but are usually numbers or strings. 
Values, on the other hand, can be any arbitrary Python object.
Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

Declare an empty dictionary and insert key/value pairs

In [50]:
dct = {}
dct['one'] = 'This is one'
dct[2] = 'This is two'
print(dct)

{'one': 'This is one', 2: 'This is two'}

Initialize a dictionary with key/value pairs

In [51]:
tiny_dct = {'name':'john', 'code':6734, 'dept':'sales'}
print(tiny_dct)

{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [52]:
print(dct['one']) # print value of key 'one'
print(dct[2])     # print value of key 2
print(tiny_dct.keys()) # print all the keys
print(tiny_dct.values()) # print all the values

This is one
This is two
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

## Data Type Conversion

Python allows objects to be converted to other types.

In [53]:
x = "Hello"
y = 123

In [54]:
print(str(y)) # Convert y to string
print(float(y))  # Convert y to float
print(list(t1))  # Convert tuple to list
print(list(x))  # Convert string to a list of characters
print(tuple(l1)) # Convert list to tuple

TypeError: 'str' object is not callable

Get an error 'object is not callable' because of the used of reserve word. Delete the previous defined variable to solve the conflict.

In [55]:
del str

### Boolean

In [56]:
p = True
q = False

print('type of p and q is %s' % type(p))

type of p and q is <class 'bool'>

In [57]:
print('True+True+True = %s' %(p + p + p))
print('False+False+False = %s' %(q + q + q))

True+True+True = 3
False+False+False = 0

### Comparison

In [58]:
x = 10
y = 20
z = -10

print('x<y<=z is %s'%(x<y<=z))
print('x<y or y<=z is %s'%(x<y or y<=z))

x<y<=z is False
x<y or y<=z is True

### if statement

In [59]:
x = 10
y = 5

if x > y:
    print("x is greater than y")

x is greater than y

### if... else...

In [60]:
y = 25
x = 10

if x > y:
    print("x is greater than y")
else:
    print("y is greater than x")

y is greater than x

### elif

In [61]:
x = 10
y = 10

if x > y:
    print("x is greater than y")
elif x == y:
    print("x and y are equal!")
else:
    print("y is greater than x")

x and y are equal!

### Creating for loop

In [62]:
my_sequence  = list(range(0,101,10))

for number in my_sequence:
    print(number)

0
10
20
30
40
50
60
70
80
90
100

### List comprehension

In [63]:
l1 = [1, 2, 3]
y = [x*2 for x in l1]
print(y)

[2, 4, 6]

### Continue keyword

In [64]:
for number in my_sequence:
    if number < 80:
        continue # Skip numbers less than 80
    print(number)

80
90
100

### Break keyword

In [65]:
for number in my_sequence:
    if number > 50:
        break # Break out of the loop if number > 50
    print(number)

0
10
20
30
40
50

### while loops

In [66]:
x = 5
iters = 0

while iters < x:
    print("Study")
    iters = iters+1

Study
Study
Study
Study
Study

### continue and break in while loops

In [67]:
while True:
    print("Study")
    break

Study

### Define functions

In [68]:
def my_function(arg1, arg2):
    return arg1 + arg2

In [69]:
my_function(5,10)

15

### Default argument

In [70]:
def sum_3_items(x, y, z, print_args=False):
    if print_args:
        print(x,y,z)
    return x+y+z

In [71]:
sum_3_items(5,10,20)

35

In [72]:
sum_3_items(5,10,20,print_args=True)

5 10 20

35

### Multiple arguments

In [73]:
def sum_many_args(*args):
    print(type(args))
    return (sum(args))

In [74]:
sum_many_args(1,2,3,4,5)

<class 'tuple'>

15