# Lab 1: Linear Regression / Logistic Regression and Decision Tree

- Please write your name and student id everytime

## Lab Instruction *<< Please Read*

In this lab, you are to create a a Linear Regression and logistic regression model to predict the sale price of <br>
houses (Low, High) from a given set of attributes. <br>
The data file is`lab1_dataset.csv` <br>
Note that you need to explore and process/drop attributes, <br>
and map numerical values of sale prices to categorical values (Low, High)

###  1. Import the Dataset and Learn About the Data

In [56]:
import pandas as pd
df = pd.read_csv('lab1_dataset.csv')
df.head()

,Id,Foundation,1stFlrSF,KitchenQual,Fireplaces,HeatingQC,FullBath,BsmtQual,OpenPorchSF,GarageYrBlt,...,BsmtFinType1,YearBuilt,GarageArea,TotRmsAbvGrd,GarageCars,GrLivArea,YearRemodAdd,LotFrontage,Fence,SalePrice
0,1,PConc,856,Gd,0,Ex,2,Gd,61,2003.0,...,GLQ,2003,548,8,2,1710,2003,65.0,NaN,208500
1,2,CBlock,1262,TA,1,Ex,2,Gd,0,1976.0,...,ALQ,1976,460,6,2,1262,1976,80.0,NaN,181500
2,3,PConc,920,Gd,1,Ex,2,Gd,42,2001.0,...,GLQ,2001,608,6,2,1786,2002,68.0,NaN,223500
3,4,BrkTil,961,Gd,1,Gd,1,TA,35,1998.0,...,ALQ,1915,642,7,3,1717,1970,60.0,NaN,140000
4,5,PConc,1145,Gd,1,Ex,2,Gd,84,2000.0,...,GLQ,2000,836,9,3,2198,2000,84.0,NaN,250000

In [57]:
df.describe()

,Id,1stFlrSF,Fireplaces,FullBath,OpenPorchSF,GarageYrBlt,OverallQual,YearBuilt,GarageArea,TotRmsAbvGrd,GarageCars,GrLivArea,YearRemodAdd,LotFrontage,SalePrice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1379.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1201.000000,1460.000000
mean,730.500000,1162.626712,0.613014,1.565068,46.660274,1978.506164,6.099315,1971.267808,472.980137,6.517808,1.767123,1515.463699,1984.865753,70.049958,180921.195890
std,421.610009,386.587738,0.644666,0.550916,66.256028,24.689725,1.382997,30.202904,213.804841,1.625393,0.747315,525.480383,20.645407,24.284752,79442.502883
min,1.000000,334.000000,0.000000,0.000000,0.000000,1900.000000,1.000000,1872.000000,0.000000,2.000000,0.000000,334.000000,1950.000000,21.000000,34900.000000
25%,365.750000,882.000000,0.000000,1.000000,0.000000,1961.000000,5.000000,1954.000000,334.500000,5.000000,1.000000,1129.500000,1967.000000,59.000000,129975.000000
50%,730.500000,1087.000000,1.000000,2.000000,25.000000,1980.000000,6.000000,1973.000000,480.000000,6.000000,2.000000,1464.000000,1994.000000,69.000000,163000.000000
75%,1095.250000,1391.250000,1.000000,2.000000,68.000000,2002.000000,7.000000,2000.000000,576.000000,7.000000,2.000000,1776.750000,2004.000000,80.000000,214000.000000
max,1460.000000,4692.000000,3.000000,3.000000,547.000000,2010.000000,10.000000,2010.000000,1418.000000,14.000000,4.000000,5642.000000,2010.000000,313.000000,755000.000000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 22 columns):
Id              1460 non-null int64
Foundation      1460 non-null object
1stFlrSF        1460 non-null int64
KitchenQual     1460 non-null object
Fireplaces      1460 non-null int64
HeatingQC       1460 non-null object
FullBath        1460 non-null int64
BsmtQual        1423 non-null object
OpenPorchSF     1460 non-null int64
GarageYrBlt     1379 non-null float64
ExterQual       1460 non-null object
OverallQual     1460 non-null int64
BsmtFinType1    1423 non-null object
YearBuilt       1460 non-null int64
GarageArea      1460 non-null int64
TotRmsAbvGrd    1460 non-null int64
GarageCars      1460 non-null int64
GrLivArea       1460 non-null int64
YearRemodAdd    1460 non-null int64
LotFrontage     1201 non-null float64
Fence           281 non-null object
SalePrice       1460 non-null int64
dtypes: float64(2), int64(13), object(7)
memory usage: 251.0+ KB

In [59]:
df.columns[df.isnull().any()].tolist()

['BsmtQual', 'GarageYrBlt', 'BsmtFinType1', 'LotFrontage', 'Fence']

In [60]:
df.isnull().sum()

Id                 0
Foundation         0
1stFlrSF           0
KitchenQual        0
Fireplaces         0
HeatingQC          0
FullBath           0
BsmtQual          37
OpenPorchSF        0
GarageYrBlt       81
ExterQual          0
OverallQual        0
BsmtFinType1      37
YearBuilt          0
GarageArea         0
TotRmsAbvGrd       0
GarageCars         0
GrLivArea          0
YearRemodAdd       0
LotFrontage      259
Fence           1179
SalePrice          0
dtype: int64

###  2. Preprocessing

Use techniques that you have learned to preprocess the data. **For example**, 
-  Remove non-informative features
-  Remove features with too many NA
-  Remove rows with incomplete data
-  Remove features with highly unbalanced labels
-  Encode categorical variables as appropriate

> You can use any other preprocess techniques as long as it make logical sense.


- Drop column that have high NA values
- Drop person specific column ( Id )
- Do feature selection

In [61]:
df = df.drop(columns=['Id', 'Fence','YearRemodAdd', 'YearRemodAdd','GarageYrBlt','YearBuilt'])

Drop row contain other NA value

*(the reason that we drop column with high NA value first because it dose not give any information to our model and it may cause lossing many data if we delete NA by row first. )*

In [62]:
df = df.dropna(axis=0)

No feature with highly unbalance data. Next, we convert object value to dummies value.

In [63]:
df = pd.concat([pd.get_dummies(df.select_dtypes(include=['object'])),
                   df.select_dtypes(include=['float64','int64'])]
                   , axis=1)

In [64]:
df['Sales_bin'] = pd.qcut(df['SalePrice'], q=[0,0.5,1], labels=["Low", "High"])

In [65]:
df.Sales_bin.value_counts()

High    585
Low     585
Name: Sales_bin, dtype: int64

Separate feature and target

In [66]:
y_Logistic = df.Sales_bin.copy()
y_Linear = df.SalePrice.copy()
X = df.drop(['SalePrice','Sales_bin'],axis=1).copy()

### 3. Model Training 
We will use Scikit-learn package to build a model.
- http://scikit-learn.org/stable/

Model Evaluation Method
- Split into train set and test set

In [67]:
from sklearn.model_selection import train_test_split

X_train_Logistic, X_test_Logistic, y_train_Logistic, y_test_Logistic = train_test_split(X,y_Logistic,test_size=0.2,random_state=42)

In [68]:
X_train_Linear, X_test_Linear, y_train_Linear, y_test_Linear = train_test_split(X,y_Linear,test_size=0.2,random_state=42)

- Fit Logistic Regression model

In [69]:
from sklearn import linear_model


model_logistic = linear_model.LogisticRegression()
model_logistic.fit(X_train_Logistic, y_train_Logistic)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

   - Fit Linear Regression model

In [70]:
from sklearn import linear_model


model_linear = linear_model.LinearRegression()
model_linear.fit(X_train_Linear, y_train_Linear)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

   - Fit Decision Tree model

In [88]:
from sklearn import tree
model_clf = tree.DecisionTreeClassifier()
model_clf = model_clf.fit(X_train_Logistic, y_train_Logistic)
print(model_clf )

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

**Fine-Tune model after evaluate default model**

In [71]:
model_logistic = linear_model.LogisticRegression(C=1,penalty='l1',random_state=0)
model_logistic.fit(X_train_Logistic, y_train_Logistic)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [72]:
model_linear = linear_model.LinearRegression(fit_intercept=False,normalize=True,n_jobs=5)
model_linear.fit(X_train_Linear, y_train_Linear)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=5, normalize=True)

In [90]:
model_clf = tree.DecisionTreeClassifier(min_samples_leaf=30, max_depth=5)
model_clf = model_clf.fit(X_train_Logistic, y_train_Logistic)
print(model_clf )

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=30, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')


### 4. Model Tuning &  Result Analysis 

try answering the following questions.
1. Analyze the model results. Do you think the model is good enough? <br>
2. What is the C2 Score?
3. If you change your preprosessing method, can you improve the model?
4. If you change your parameters setting, can you improve the model?

Explain and provide evidence to support your claims.

You can look at :

the parameters and functions of Logistic Regression at http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

the parameters and functions of Logistic Regression at http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

the parameters and functions of Logistic Regression at http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

#### ANS 1:

#### ANS 2:

#### ANS 3:

#### ANS 4:

   - Model Tuning Logistic Regression model

In [101]:
y_train_pred_Logistic = model_logistic.predict(X_train_Logistic)

from sklearn.metrics import accuracy_score
print('Accuracy: %s'%accuracy_score(y_train_Logistic, y_train_pred_Logistic))

from sklearn.metrics import confusion_matrix
print('Confusion Matrix')
print(confusion_matrix(y_train_Logistic, y_train_pred_Logistic , labels=["Low", "High"]))

Accuracy: 0.9209401709401709
Confusion Matrix
[[433  37]
 [ 37 429]]

In [102]:
y_test_pred_Logistic = model_logistic.predict(X_test_Logistic)

from sklearn.metrics import accuracy_score
print('Accuracy: %s'%accuracy_score(y_test_Logistic, y_test_pred_Logistic))

from sklearn.metrics import confusion_matrix
print('Confusion Matrix')
print(confusion_matrix(y_test_Logistic ,y_test_pred_Logistic , labels=["Low", "High"]))

Accuracy: 0.9188034188034188
Confusion Matrix
[[106   9]
 [ 10 109]]

   - Model Tuning Decision Tree model

In [103]:
y_train_pred_tree = model_clf.predict(X_train_Logistic)

from sklearn.metrics import accuracy_score
print('Accuracy: %s'%accuracy_score(y_train_Logistic, y_train_pred_tree ))

from sklearn.metrics import confusion_matrix
print('Confusion Matrix')
print(confusion_matrix(y_train_Logistic ,y_train_pred_tree , labels=["Low", "High"]))

Accuracy: 0.8985042735042735
Confusion Matrix
[[415  55]
 [ 40 426]]

In [104]:
y_test_pred_tree = model_clf.predict(X_test_Logistic)

from sklearn.metrics import accuracy_score
print('Accuracy: %s'%accuracy_score(y_test_Logistic, y_test_pred_tree ))

from sklearn.metrics import confusion_matrix
print('Confusion Matrix')
print(confusion_matrix(y_test_Logistic ,y_test_pred_tree , labels=["Low", "High"]))

Accuracy: 0.8717948717948718
Confusion Matrix
[[101  14]
 [ 16 103]]

In [105]:
import graphviz
dot_data = tree.export_graphviz( model_clf, out_file=None, 
                              feature_names=X_train_Logistic.columns,
                              class_names=['0','1'],
                              filled=True, rounded=True,
                              special_characters=True, rotate=True)
graph = graphviz.Source(dot_data)
graph.render('dtree_render')

'dtree_render.pdf'

   - Model Tuning Linear Regression model

In [106]:
y_train_pred_Linear = model_linear.predict(X_train_Linear)

from sklearn.metrics import r2_score
print('R2: %.2f'%r2_score(y_train_Linear, y_train_pred_Linear))

R2: 0.82

In [107]:
y_test_pred_Linear = model_linear.predict(X_test_Linear)

from sklearn.metrics import r2_score
print('R2: %.2f'%r2_score(y_test_Linear, y_test_pred_Linear))

R2: 0.81

### Analysis

*(This is an example. your answer may be different based on your result)*

> Our model is well perform on both train set and test set with 91.8% accuracy after tuning. Thus, the model is risk of being overfit the test set and should be validate with other set of data.

## Read more:
- **Overfit vs Underfit:** https://towardsdatascience.com/overfitting-vs-underfitting-a-complete-example-d05dd7e19765
- **Bias-Variance Tradeoff** https://towardsdatascience.com/understanding-the-bias-variance-tradeoff-165e6942b229
- **Train, Test, Validation set** https://towardsdatascience.com/train-validation-and-test-sets-72cb40cba9e7

### 5. (Optional) Mutlinomial Logistic Regression Model

Binning the sale price into three classes : `Low`, `Medium`, `High`.
Then, apply the logistic regression model and evaluate the model performance. <br>
See http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html